kubectl patch rec {{rec_name}} --type merge --patch "{\"spec\": \
    {\"ingressOrRouteSpec\": \
      {\"apiFqdnUrl\": \"api-{{rec_name}}-demo.{{dns_domain}}\", \
      \"dbFqdnSuffix\": \"-db-{{rec_name}}-demo.{{dns_domain}}\", \
      \"method\": \"openShiftRoute\"}}}"

