apiVersion: vi
data:
  password: {{lookup('file', '../../temp/cluster_pw.txt')}}
  username: {{lookup('file', '../../temp/cluster_pw.txt')}}
kind: Secret
metadata:
  name: redis-enterprise-rerc-{{rec_name}}
type: Opaque
