apiVersion: v1
data:
  password: {{lookup('file', '../../temp/cluster_pw_encoded.txt')}}
  username: {{lookup('file', '../../temp/cluster_un_encoded.txt')}}
kind: Secret
metadata:
  name: redis-enterprise-rerc-{{rec_name}}
type: Opaque
